{% extends "base.twig" %}

{% block content %}

	{% include ["header-"~post.header_type|lower~".twig", "header-default.twig"] %}

	<section class="content-wrapper">
		<div class="container">
			<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
				<section class="article-content">
					{% if header_type == 'default' %}
						<h1 class="article-h1">{{post.title}}</h1>
					{% endif %}
					<section class="resource-section">
						{% if post.content %}
							<div class="row">
								<div class="col-md-10 col-md-offset-1 u-textCenter">
									{{post.content}}
								</div>
							</div>
						{% endif %}
						<div class="row">
							{% for resource in post.get_field('resource_item') %}
								{% if resource.resource_type == "card" %}
									{% include ['resource-card.twig'] %}
								{% elseif resource.resource_type == "video" %}
									{% include ['resource-video.twig'] %}
								{% endif %}
							{% endfor %}
						</div>
					</section>
				</section>
			</article>
		</div>
	</section>
	<!-- /content-wrapper -->
{% endblock %}