{% extends "base.twig" %}

{% block content %}

	{% include ["header-"~post.header_type|lower~".twig", "header-default.twig"] %}

	<section class="content-wrapper">
		<div class="container">
			<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
				<section class="article-content">
					{% if header_type == 'default' %}
						<h1 class="article-h1">{{post.title}}</h1>
					{% endif %}
					<section class="resource-section">
						{{post.content}}
					</section>
				</section>
			</article>
		</div>
	</section><!-- /content-wrapper -->
{% endblock %}