# Rewrite rule for post renaming
RewriteRule ^([0-9]+)/([0-9]+)/(.*).html?$ /blog/$3/ [R=301,NC,L]
# Rewrite rule for tags/categories
RewriteRule ^tag/(.*)$ /blog/tag/$1 [R=301,NC,L]
RewriteRule ^category/(.*)$ /blog/category/$1 [R=301,NC,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# BEGIN MemberPress Rules
<IfModule mod_rewrite.c>

RewriteCond %{HTTP_COOKIE} mplk=([a-zA-Z0-9]+)
RewriteCond /Users/aeblin/eg-members/content/uploads/mepr/rules/%1 -f
RewriteRule ^(.*)$ - [L]

RewriteCond %{REQUEST_URI} !^/(wp-admin|wp-includes|wp-content/plugins|wp-content/themes)
RewriteCond %{REQUEST_URI} \.(zip|gz|tar|doc|docx|xls|xlsx|xlsm|pdf|mp4|m4v|mp3|ZIP|GZ|TAR|DOC|DOCX|XLS|XLSX|XLSM|PDF|MP4|M4V|MP3)$
RewriteRule . /content/plugins/memberpress/lock.php [L]

</IfModule>
# END MemberPress Rules

# END WordPress