// Typography Utils // ------
.u-letterSpacing2{
  letter-spacing: 0.2rem;
}
.u-letterSpacing3 {
  letter-spacing: 0.3rem;
}
.u-letterSpacing4 {
  letter-spacing: 0.4rem;
}
.u-letterSpacing5 {
  letter-spacing: 0.5rem;
}
.u-lightCopy {
  color: rgb(255,255,255);
}
.u-capitalize {
  text-transform: uppercase;
}

// Text Align // ------
.u-textLeft {
  text-align: left;
}
.u-textRight {
  text-align: right;
}
.u-textCenter {
  text-align: center;
}
@media screen and (max-width: $screen-sm-max){
  .u-textLeft, .u-textRight, .u-textCenter{
    text-align: center;
  }
}
.u-textMdCenter {
  @media (min-width: $screen-md-min) {
    text-align: center;
  }
}

// Clears //----
.u-clearfix {
  @include clearfix
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .u-clear-after--lg-3>*:nth-child(2n+1) {
    clear: left;
  }
}
@media screen and (min-width: $screen-lg-min) {
  .u-clear-after--lg-3>*:nth-child(3n+1) {
    clear: left;
  }
}

// Margins //----
.u-clearBootstrapMargins {
  margin-right: -15px;
  margin-left: -15px;
}

// Padding Classes // ------
.u-noPaddingLeft {
  padding-left: 0px;
  @media screen and (max-width: $screen-sm-max){
    padding-left: 15px;
  }
}
.u-noPaddingRight {
  padding-right: 0px;
  @media screen and (max-width: $screen-sm-max){
    padding-right: 15px;
  }
}
.u-noPadding--x {
  padding-left: 0px;
  padding-right: 0px;
}
.u-padding--1 {
  padding: 5px;
}
.u-padding--2 {
  padding: 10px;
}
.u-padding--3 {
  padding: 15px;
}
.u-padding--4 {
  padding: 30px;
}
.u-padding--5 {
  padding: 50px;
}
.u-padding--6 {
  padding: 70px;
}
.u-padding--7 {
  padding: 100px;
}

// Padding Left/Right // ---
.u-padding--1x {
  padding-left: 5px;
  padding-right: 5px;
}
.u-padding--2x {
  padding-left: 10px;
  padding-right: 10px;
}
.u-padding--3x {
  padding-left: 15px;
  padding-right: 15px;
}
.u-padding--4x {
  padding-left: 30px;
  padding-right: 30px;
}
.u-padding--5x {
  padding-left: 50px;
  padding-right: 50px;
}
.u-padding--6x {
  padding-left: 70px;
  padding-right: 70px;
}
.u-padding--7x {
  padding-left: 100px;
  padding-right: 100px;
}

// Padding Top Bottom // ---
.u-padding--1y {
  padding-top: 5px;
  padding-bottom: 5px;
}
.u-padding--2y {
  padding-top: 10px;
  padding-bottom: 10px;
}
.u-padding--3y {
  padding-top: 15px;
  padding-bottom: 15px;
}
.u-padding--4y {
  padding-top: 30px;
  padding-bottom: 30px;
}
.u-padding--5y {
  padding-top: 50px;
  padding-bottom: 50px;
}
.u-padding--6y {
  padding-top: 70px;
  padding-bottom: 70px;
}
.u-padding--7y {
  padding-top: 100px;
  padding-bottom: 100px;
}
// Padding Bottom // ---
.u-paddingBot--1y {
  padding-bottom: 5px;
}
.u-paddingBot--2y {
  padding-bottom: 10px;
}
.u-paddingBot--3y {
  padding-bottom: 15px;
}
.u-paddingBot--4y {
  padding-bottom: 30px;
}
.u-paddingBot--5y {
  padding-bottom: 50px;
}
.u-paddingBot--6y {
  padding-bottom: 70px;
}
.u-paddingBot--7y {
  padding-bottom: 100px;
}

// Additional Utilities //----
.u-gpuAccelerate {
  @include transform(translate3d(0,0,0));
}

.u-positionStatic {
  position: static;
}
.u-positionRelative {
  position: relative;
}
.u-verticalAlign {
  @include vertical-align;
}
.u-flexAlign{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.u-floatLeft {
  float: left;
}
.u-floatRight {
  float: right;
}

li.break:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
// Text-Related // -----------
.u-textShadow {
  @include text-shadow(1px 1px 1px rgba(0,0,0,.05));
}
.u-textShadowLight {
  @include text-shadow(1px 1px 1px rgba(255,255,255,.05));
}

.u-blockLinkHack {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

// Background Filters // ------
.u-bgFilter {
  &:before {
    position: absolute;
    content:" ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
  }
}
.u-bgFilterGradient {
  @extend .u-bgFilter;
  &:before {
    background-image: linear-gradient(-180deg, rgba(253,247,235,0.20) 0%, rgba(241,103,35,0.50) 100%);
  }
}
.u-bgFilterGradientDark {
  @extend .u-bgFilter;
  &:before {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.25) 100%);
  }
}
.u-bgFilterHover {
  &:before {
    position: absolute;
    content:" ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
    // background-image: linear-gradient(-180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.25) 100%);
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
  }
}
.u-bgFilterHover:hover, .u-bgFilterHover:focus {
  &:before {
    background-color: rgba(255,255,255,0.1);
  }
}

.u-backgroundCover {
  background: no-repeat;
  background-position: center center;
  background-size: cover;
}
.u-backgroundContain {
  background: no-repeat;
  background-position: center center;
  background-size: contain;
}
.u-rightContain {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

// Flexbox Aligner Utility
.u-aligner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
}
.u-alignerMd {
  @media screen and (min-width: $screen-md-min) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
  }
}
.u-alignerItemFixed {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  max-width: 50%;
}
.u-alignerItem {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.u-hidden{
  display: none;
}

/*
  Z-INDEX
  While necessary, z-index rules should be used with careful thought
  and planning to avoid unnecessary complications down the line. To help prevent
  constant tinkering random z-index rules ranging from 1-999999, all z-index'ing
  should be set using the below .z-index--1 through .z-index--10.
*/

@for $i from 1 through 10 {
  .z-index--#{$i} {
    position: relative;
    z-index: #{$i};
  }
}