.card {
  @include verlag-n4;
  background: rgba(255,255,255,1);
  @include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.50));
  box-sizing: border-box;
}
.card.orange-border {
  border-width: 10px 0 0 0;
  border-style: solid;
  border-color: $color-primary;
  border-image: linear-gradient(165deg, #F9A070 2%, #F6885A 44%, #F6885A 44%, #F68759 46%, #F1673D 100%) 1 stretch;
}
//For News Cards
.card.news-snippet {
  font-size: 18px;
  text-align: right;
  padding: 0 10px;
  margin-bottom: 1em;
}
.card.news-snippet .date {
  display: block;
  @include verlag-n7;
  color: $color-primary;
  font-size: 0.75em;
  padding: 1em 0;
}
.card.news-snippet .excerpt {
  display: block;
  @include verlag-n4;
  padding: 0 0 1em 0;
}

//For Resource Squares on Homepage
.card.resource-square {
  position: relative;
  height: 18vw;
  min-height: 250px;
  margin-top: -3%;
  background-size: cover;
  @media screen and (max-width: $screen-sm-max) {
    margin-bottom: 13%;
  }
}
.card.resource-square .title {
  @include verlag-n7;
  position: relative;
  color: $color-primary;
  background: radial-gradient(circle farthest-side at left top, #F9A070 25%, #F6885A 80%, #F1673D 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
//For Resource Cards on Resource Pages
.card.resource-card {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  margin-bottom: 30px;
  &:hover {
    @include box-shadow(0px 1px 2px 0px rgba(0,0,0,5));
    transform: scale(0.98, 0.98);
  }
}
.resource-card--content {
  padding: 4em;
  color: rgb(255,255,255);
  text-transform: uppercase;
  text-shadow: 1px 2px rgba(20,20,20,0.25);
}
.resource-card--title {
  @include verlag-n7;
  letter-spacing: 0.125rem;
}
.resource-card--description {
  @include verlag-n4;
  font-size: 24px;
  letter-spacing: 0.125rem;
}