{% block content %}
  <section class="account">
    <h2>What's up</h2>
    {% filter shortcodes %}
      [memberful_account_link]Account[/memberful_account_link]
    {% endfilter %}
  </section>
{% endblock %}