{% block html_head_container %}
  {% include 'head.twig' %}
    {% block head %}
  {% endblock %}
{% endblock %}

  <body class="{{ body_class }}" data-template="base.twig">
   {# include 'nav-mobile.twig' #}

    <div class="js-wrap">
      <main class="layoutMain">
        {% if userLoggedIn %}
          {% block header %}
            {% include 'header.twig' %}
          {% endblock %}
        {% endif %}

        {% block content %}
          Sorry no content.
        {% endblock %}
      </main>
      {% block footer %}
        {% include 'footer.twig' %}
        {{ function('wp_footer') }}
      {% endblock %}
    </div>

    {% include 'footer-js.twig' %}
  </body>
</html>