<header class="row articleContent-headerDefault">
  <div class="headerContent">
    <h1 class="headerContent-title">{{post.title}}</h1>

    {% if post.blog_subtitle %}
      <h4 class="headerContent-subtitle">{{post.blog_subtitle}}</h4>
    {% endif %}

  </div>
</header>