{% extends "base.twig" %}

{% block content %}
    <main class="layoutMain">
      {% if (userLoggedIn == true) %}
        {% include "userpanel.twig" %}
        {% include "tease-blog.twig" %}
        {% include "resources.twig" %}
      {% else %}
        {% include "signin.twig" %}
      {% endif %}
      {{httpReferer}}
    </main>
{% endblock %}