{% extends "base.twig" %}

{% block content %}

    <main class="layoutMain">
      <div class="homepage-hero-module">
        <div class="filter"></div>
          {% if (mpLoggedIn == true) %}
            <div class="flex-container">
              <div class="panel">
                <h2>You're logged in, {{mpCurrentUser}}</h2>
              </div>
            </div>
          {% else %}
            <div class="flex-container">
              {% include "page-signin.twig" %}
            </div>
          {% endif %}
        <video autoplay loop class="fullscreen">
          <source src="{{site.theme.link}}/video/sunset-lapse.webm" type="video/webm" />Your browser does not support the video tag. Consider upgrading your browser.
          <source src="{{site.theme.link}}/video/sunset-lapse.mp4" type="video/mp4" />Your browser does not support the video tag. Consider upgrading your browser.
        </video>
        <div class="poster hidden">
          {# <img src="PATH_TO_JPEG" alt=""> #}
        </div>
      </div>
    </main>
{% endblock %}