{% extends "base.twig" %}

{% block content %}
  <section class="sign-in">
    <img class="life-gps-icon" src="{{site.theme.link}}/img/LifeGPS-CertifiedOutline-White.svg" />
    <h2>Member Area</h2>
    {% filter shortcodes %}
      [mepr-login-form]
    {% endfilter %}
  </section>
{% endblock %}