<section class="resources">
  <div class="section-header--block">
    <div class="container">
      <h2 class="section-header--title">
        Resources
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="">
          <div class="card u-textCenter u-capitalize">
            <h4>Training Videos</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="">
          <div class="card u-textCenter u-capitalize">
            <h4>Coaching Materials</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="">
          <div class="card u-textCenter u-capitalize">
            <h4>Print Materials</h4>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="">
          <div class="card u-textCenter u-capitalize">
            <h4>Other Thing</h4>
          </div>
        </a>
      </div>
    </div>
</section>