<section class="resources">
  <div class="section-header--block">
    <div class="container">
      <h2 class="section-header--title">
        Resources
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a href="/training-videos">
          <div class="card resource-square u-bgFilterHover u-flexAlign" style="background-image: url('{{site.theme.link}}/img/bg-trainingvideos.jpg');">
            <div class="content">
              <h4 class="title">Training Videos</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a href="/certification-videos">
          <div class="card resource-square u-bgFilterHover u-flexAlign" style="background-image: url('{{site.theme.link}}/img/bg-certificationvideos.jpg');">
            <div class="content">
              <h4 class="title">Certification Videos</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a href="/coaching-materials">
          <div class="card resource-square u-bgFilterHover u-flexAlign" style="background-image: url('{{site.theme.link}}/img/bg-coachingmaterials.jpg');">
            <div class="content">
              <h4 class="title">Coaching Materials</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a href="/presentation-decks">
          <div class="card resource-square u-bgFilterHover u-flexAlign" style="background-image: url('{{site.theme.link}}/img/bg-presentationdeck.jpg');">
            <div class="content">
              <h4 class="title">Presentation Decks</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
</section>