{% block content %}
  <div class="flex-container">
    <section class="sign-in">
      <img class="life-gps-icon" src="{{site.theme.link}}/img/LifeGPS-CertifiedOutline-White.svg" />
      <h2>Member Area</h2>
      <div class="sign-in--form">
        <div class="sign-in--mf">
          {% filter shortcodes %}
            [memberful_sign_in_link]Sign in[/memberful_sign_in_link]
          {% endfilter %}
        </div>
        <hr/>{#
        <a class="sign-in--action">Need to register?</a> #}
        {% filter shortcodes %}
          [memberful_buy_subscription_link plan='7926-life-gps-certified-licensee']
            Need to register?
          [/memberful_buy_subscription_link]
        {% endfilter %}
      </div>
    </section>
  </div>

  <video autoplay loop class="fullscreen">
    <source src="{{site.theme.link}}/video/sunset-lapse.webm" type="video/webm" />Your browser does not support the video tag. Consider upgrading your browser.
    <source src="{{site.theme.link}}/video/sunset-lapse.mp4" type="video/mp4" />Your browser does not support the video tag. Consider upgrading your browser.
  </video>
{% endblock %}