{% block content %}
  <section class="account">
    <div class="container">
      <div class="row">
        <div class="col-md-12 u-textCenter u-padding--4y">
          <h1 class="surveyor-n5">Good <span class="js-current-time">afternoon</span>, {{mfFirstName}}</h1>
        </div>
      </div>
      <div class="row u-paddingBot--7y">
        {% include "userpanel-account.twig" %}
        {% include "userpanel-news.twig" %}
      </div>
    </div>
  </section>
{% endblock %}