// Font Scale // ------
html {
  font-size: 14px;
  color: $color-primary;
}
@media (max-width: $screen-md-max) {
  html { font-size: 13px; }
}
@media (max-width: $screen-sm-max) {
  html { font-size: 12px; }
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

// Font Mixins // ------
@mixin tungsten-n2 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--200;
}
@mixin tungsten-n3 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--300;
}
@mixin tungsten-n4 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--400;
}
@mixin tungsten-n5 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--500;
}
@mixin tungsten-n6 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--600;
}

@mixin gotham-n2 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--200;
}
@mixin gotham-n3 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--300;
}
@mixin gotham-n4 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--400;
}
@mixin gotham-i4 {
  font-family: $fontFamily--gotham;
  font-style: italic;
  font-weight: $fontWeight--400;
}
@mixin gotham-n7 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--700;
}
@mixin gotham-i7 {
  font-family: $fontFamily--gotham;
  font-style: italic;
  font-weight: $fontWeight--700;
}

@mixin surveyor-n3 {
  font-family: $fontFamily--surveyor;
  font-style: normal;
  font-weight: $fontWeight--300;
}
@mixin surveyor-n5 {
  font-family: $fontFamily--surveyor;
  font-style: normal;
  font-weight: $fontWeight--500;
}
@mixin surveyor-n7 {
  font-family: $fontFamily--surveyor;
  font-style: normal;
  font-weight: $fontWeight--700;
}
@mixin verlag-n3 {
  font-family: $fontFamily--verlag;
  font-style: normal;
  font-weight: $fontWeight--300;
}
@mixin verlag-i3 {
  font-family: $fontFamily--verlag;
  font-style: italic;
  font-weight: $fontWeight--300;
}
@mixin verlag-n4 {
  font-family: $fontFamily--verlag;
  font-style: normal;
  font-weight: $fontWeight--400;
}
@mixin verlag-i4 {
  font-family: $fontFamily--verlag;
  font-style: italic;
  font-weight: $fontWeight--400;
}
@mixin verlag-n7 {
  font-family: $fontFamily--verlag;
  font-style: normal;
  font-weight: $fontWeight--700;
}
@mixin verlag-i7 {
  font-family: $fontFamily--verlag;
  font-style: italic;
  font-weight: $fontWeight--700;
}

// Font Classes // -----
// Font Mixins // ------
.tungsten-n2 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--200;
}
.tungsten-n3 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--300;
}
.tungsten-n4 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--400;
}
.tungsten-n5 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--500;
}
.tungsten-n6 {
  font-family: $fontFamily--tungsten;
  font-style: normal;
  font-weight: $fontWeight--600;
}

.gotham-n2 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--200;
}
.gotham-n3 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--300;
}
.gotham-n4 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--400;
}
.gotham-i4 {
  font-family: $fontFamily--gotham;
  font-style: italic;
  font-weight: $fontWeight--400;
}
.gotham-n7 {
  font-family: $fontFamily--gotham;
  font-style: normal;
  font-weight: $fontWeight--700;
}
.gotham-i7 {
  font-family: $fontFamily--gotham;
  font-style: italic;
  font-weight: $fontWeight--700;
}

.surveyor-n3 {
  font-family: $fontFamily--surveyor;
  font-style: normal;
  font-weight: $fontWeight--300;
}
.surveyor-n5 {
  font-family: $fontFamily--surveyor;
  font-style: normal;
  font-weight: $fontWeight--500;
}
.surveyor-n7 {
  font-family: $fontFamily--surveyor;
  font-style: normal;
  font-weight: $fontWeight--700;
}
.verlag-n3 {
  font-family: $fontFamily--verlag;
  font-style: normal;
  font-weight: $fontWeight--300;
}
.verlag-i3 {
  font-family: $fontFamily--verlag;
  font-style: italic;
  font-weight: $fontWeight--300;
}
.verlag-n4 {
  font-family: $fontFamily--verlag;
  font-style: normal;
  font-weight: $fontWeight--400;
}
.verlag-i4 {
  font-family: $fontFamily--verlag;
  font-style: italic;
  font-weight: $fontWeight--400;
}
.verlag-n7 {
  font-family: $fontFamily--verlag;
  font-style: normal;
  font-weight: $fontWeight--700;
}
.verlag-i7 {
  font-family: $fontFamily--verlag;
  font-style: italic;
  font-weight: $fontWeight--700;
}

.header-xsmall {
  color: #999;
  font-size: $fontSize--xsmall;
  font-weight: 400;
  margin-bottom: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header-small {
  font-size: $fontSize--small;
  line-height: $fontLineHeight--spacious;
  margin-bottom: .5em;
}
.header-normal {
  font-weight: $fontWeight--500;
  line-height: $fontLineHeight--spacious;
  margin-bottom: .5em;
}
.header-medium {
  font-size: $fontSize--medium;
  line-height: $fontLineHeight--spacious;
  margin-bottom: .5em;
}
.header-large {
  font-size: $fontSize--large;
  line-height: $fontLineHeight--compact;
  margin-bottom: .5em;
}
.header-xlarge {
  font-size: $fontSize--xlarge;
  line-height: $fontLineHeight--compact;
  margin-bottom: .25em;
}
.header-xxlarge {
  font-size: $fontSize--xxlarge;
  line-height: $fontLineHeight--compact;
  margin-bottom: .25em;
}

@media screen and (max-width: $screen-sm-min) {
  .header-xsmall {
    font-size: $fontSize--xsmall--mobile;
  }
  .header-small {
    font-size: $fontSize--small--mobile;
  }
  .header-medium {
    font-size: $fontSize--medium--mobile;
  }
  .header-large {
    font-size: $fontSize--large--mobile;
  }
  .header-xlarge {
    font-size: $fontSize--xlarge--mobile;
  }
  .header-xxlarge {
    font-size: $fontSize--xxlarge--mobile;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

a.link{
  @include transition(color .25s);
  color: $color-primary;
  &:hover {
    color: $color-accent;
  }
}

p {
  line-height: $fontLineHeight--default;
}

.text-content {
  @include gotham-n3;
  font-size: 1.25em;
  line-height: $fontLineHeight--default;
  margin-bottom: 1.2em;
}

.text-content-large {
  @include gotham-n3;
  font-size: $fontSize--smMedium;
  margin-bottom: 1.35em;
}

// Add magic links to any text-content
.text-content, .text-content-large, .noimgOverview {
  a {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 18px;
  }
  a:hover {
    text-decoration: none;
    color: $color-primary;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,42,72,0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 18px;
  }
}
@media not all, only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
  // Make sure this looks right on retina
  .text-content, .text-content-large, .noimgOverview {
    a {
      text-decoration: none;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
      background-repeat: repeat-x;
      background-size: 2px 2px;
      background-position: 0 18px;
    }
    a:hover {
      text-decoration: none;
      color: $color-primary;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,42,72,0.8) 75%);
      background-repeat: repeat-x;
      background-size: 2px 2px;
      background-position: 0 18px;
    }
  }
}

// Keeping Modifiers Consistent //----
strong, b, .strong, .text-bold {
  font-weight: $fontWeight--500;
}
em, i, .em {
  font-style: italic;
}
// h elements //----
h1,h2,h3,h4,h5{
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-size: $fontSize--medium;
  letter-spacing: $fontLetterSpacing--condensed;
}

h4 {
  font-size: $fontSize--smMedium;
  font-weight: 600;
  line-height: $fontLineHeight--default;
  letter-spacing: $fontLetterSpacing--condensed;
  margin-bottom: 15px;
}

// Specific Classes //----
.sectionHeader {
  @include surveyor-n5;
  font-size: 2em; //TODO AE: Come back to this.
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: $color-gray-default;
}

.ul-bulleted {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -.85em;
}
.ul-bulleted li {
  margin-bottom: 1em;
}
.ul-bulleted li:before {
  content: "\02022 \0020";
}
// Icons //----
.icon {
  font-size: $fontSize--large;
}